.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Start*/

.navbar-brand {
  margin-left: 20px;
}

.nav-link {
  font-weight: bold;
}

#navbarLogo {
  max-width: 75px;
}

#navbarSearch {
  display: inline-flex;
  flex-direction: row;
  margin-right: 50px;
}

#navbarSupportedContent {
  justify-content: space-between;
  margin-left: 30px;
}

#navbarWrapper {
  max-height: 80px;
  align-content: center;
}

#navbarSubmit {
  font-weight: bolder;
  font-size: 20px;
  width: 180px;
}

#navbarToggler {
  margin-right: 24px;
}
